/*overflow on filenames in the horizontal scroller*/
.hviewtitle, #hviewmetadata {
	overflow: hidden;	
	text-overflow: ellipsis;
}
/*layout for badges in horizontal scroller*/
.hviewicon .badge-favorite {
	margin-left: -8px;
	padding-left: 3px;
	padding-right: 0;
	margin-top: -4px	
}
.hviewicon .badge-downloaded {
	padding-right: 0;
	margin-right: -12px;
	margin-top: -4px
}

ul.dropdown-menu li {
	font-size: 16px;
	line-height: 34px;
	padding: 0 20px;
}

/* debug toolbar styles */
#dBar {
	background: silver; position: absolute; top:0; right: 0;font-size: 12px; 
	z-index: 25;	
}
#dBarLoad {
	font-weight: bold; 
	width: 80px; 
	padding: 6px;	
}
#dBarContents {
	width: 375px; 
	display:none; 
	padding: 6px;
}
div.dBar {
	background: #dddddd; 
	text-shadow:none;
}
	
div.dBar .header {
	background:#444444;
	padding: 5px; 
	color: #ffffff;
	text-align: middle;
}
div.dBar table {
	width: 100%;
	border-collapse: collapse;
}
div.dBar table.grid th {
	font-weight:bold;
	border: 0;
	padding: 1px 2px;
	background: #bbbbbb;
}
div.dBar table.grid td {
	border: 1px solid #CECECE;
	padding: 1px 2px;
}
div.dBar table.grid td.error {
	color: red;
}
div.dBar table.grid td.warning {
	color: #E0AD06;
}
div.dBar table.grid td.debug {
	font-style: italic;
}
div.dBar td.first {
	width: 85px;
}

div.dBar div.section {
	padding: 0;
	clear: both;
}
div.dBar div.title {
	background:#bbbbbb; 
	padding:5px; 
	font-weight: bold;
	border-bottom: 1px solid #000000;
}
div.dBar .content {
	margin: 7px 5px;
}
div.dBar button {
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	height: initial;
}
div.dBar .debugbutton {
	width: auto !important;
	display: inline;
	padding-left: 6px;
	padding-right: 6px;
}
div.dBar .debugbuttonsmall {
	width: auto !important;
	display: inline;
	padding-left: 12px;
	padding-right: 12px;
}
